@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

* {
  transition: color 0.1s ease, background-color 0.5s ease, border-color 0.5s ease, fill 2s ease;
}

[data-theme="light"] {
  --color-first: 248 248 248;
  --color-second: 180 210 231;
  --color-third: 148 197 204;
  --color-fourth: 161 166 180;
  --color-fifth: 0 1 0;
  --color-primary: 0 0 0;
  --color-secondary: 255 255 255;
}

[data-theme="dark"] {
  --color-first: 58 96 110;
  --color-second: 96 123 125;
  --color-third: 130 142 130;
  --color-fourth: 170 174 142;
  --color-fifth: 224 224 224;
  --color-primary: 255 255 255;
  --color-secondary: 0 0 0;
}